@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  font-family: "Fredoka One", cursive;
  min-height: 100vh;
  background-color: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  background-color: #fff;
  border: none;
  border-radius: 10%;
  height: 5rem;
  width: 5rem;
  box-shadow: 0 0 8px #888;
  text-align: center;
  font-size: 3rem;
  font-family: "Fredoka One", cursive;
  cursor: pointer;
  transition: box-shadow 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  margin: 10px;
}

.box:hover {
  box-shadow: 0 0 8px rgb(255, 70, 37);
}

.x {
  color: rgb(255, 70, 37);
}

.o {
  color: rgb(44, 137, 255);
}

/* board */

.board {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  gap: 10px;
  place-content: center;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20em;
  margin: 3rem auto;
  font-size: 1.5em;
  background-color: #fff;
  box-shadow: 0 0 8px rgb(77, 77, 77);
  border-radius: 0.5rem;
}

.score {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.x-score {
  color: rgb(255, 70, 37);
  border-bottom: 5px solid rgb(255, 70, 37);
  border-radius: 0.5rem 0 0 0.5rem;
}

.o-score {
  color: rgb(44, 137, 255);
  border-bottom: 5px solid rgb(44, 137, 255);
  border-radius: 0 0.5rem 0.5rem 0;
}

.inactive {
  border-bottom: 5px solid transparent;
}

.reset-btn {
  background-color: rgb(44, 137, 255);
  font-size: 1.2em;
  margin: 2rem auto;
  border: none;
  border-radius: 0.5rem;
  padding: 10px;
  color: #fff;
  display: block;
}
